body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    color: aliceblue;
}

nav{
    margin: 50px;
    size: 30px;
    display: block;
    background-color: beige;
    padding: 50px;
    width: 100%;
}